body {
    display: flex;
    justify-content: center;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
input[type="text"] {
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 1.2rem;
}
button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}
.molduraPokemonPesquisa {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0px 0px 10px grey;
}
  
.molduraPokemonGeracao {
    text-transform: capitalize;
    display: inline-block;
    margin: 5px;
    border: 3px solid black;
    border-radius: 8px;
    width: calc(33.33% - 10px);
    max-width: 200px;
    padding: 20px;
    box-shadow: 0px 0px 10px grey;
}
    